.main {
    background-color: black;
    color: white;
}

.Heading {
    font-family: 'Times New Roman', Times, serif;
    display: initial;
}

.Border {
    background-color: black;
    left: 4%;
    width: 2%;
    top: 4%;
    height: 4%;
}

.Start {
    font-family: 'Times New Roman', Times, serif;
    color: yellow;
    display: initial;
}

.Soul {
    left: 4%;
    width: 2%;
    top: 4%;
    height: 4%;
    display: none;
}

.PositionFixed {
    position: fixed;
    display: none;
}

.Box {
    top: 10%;
    left: 10%;
    color: blue;
    border: 1px;
    border-style: solid;
    display: none;
}

.Hp {
    left: 1%;
    top: 1%;
    width: 10%;
    height: 1%;
    background-color: yellow;
    display: none;
}

.HpRed {
    left: 1%;
    top: 1%;
    width: 10%;
    height: 1%;
    background-color: red;
    display: none;
}

.HpNumber {
    left: 30%;
    top: 90%;
    font-size: 2em;
    color: blue;
    
}